.upperButton {
  border: 0;
  text-align: center;
  cursor: pointer;
  margin-bottom: 7%;
  margin-top: 5%;
  text-align: center;
  width: 100%;
  border-radius: 2rem;
  background-color: transparent;
  box-shadow: none;
}

.upperButton:hover {
  background-color: var(--dark-blue-frosted-palette);
  box-shadow: 0rem 0.75rem 1rem var(--button-hover-first),
    0 1rem 3rem 0 var(--button-hover-second);
}

.icon {
  color: white;

  cursor: pointer;
}
