.box {
  background: var(--toast-background-gradient);
  border-color: var(--toast-criminal-background-color);
  border-width: 0.2rem;
  border-style: solid;
  border-radius: 1rem;
  min-height: 22%;
  max-height: 50%;
  height: 100%;
  width: 90%;
  box-shadow: 0rem 0rem 3rem var(--toast-shadow);
  display: flex;
  flex-direction: row;
}

.toast {
  display: flex;
  flex-direction: column;
  width: 94%;
}

.user {
  background-color: transparent;
  color: var(--black-frosted-board-background);
  display: flex;
  flex-direction: row;
  padding: 1%;
  gap: 0.5rem;
}

p {
  background-color: transparent;
  font-weight: 300;
  color: var(--black-frosted-board-background);
  margin: 0;
  padding-left: 8%;
}

.date p {
  background: transparent;
  font-size: 0.6rem;
  margin-bottom: 1rem;
  color: var(--date-in-toast-grey);
  padding-left: 8%;
}

.icons {
  background-color: transparent;

  color: var(--till-frosted-palette);
  fill: var(--till-frosted-palette);
}
.icons:hover {
  cursor: pointer;
}

.buttonsContainer {
  padding-left: 10%;
}
