.buttonsContainer {
  grid-area: logInButton;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-left: 20%;
  align-items: center;
  gap: 2.5rem;
}

.upperButton {
  border: 0;
  font-size: 1.5rem;
  cursor: pointer;
  margin-left: 5%;
  text-align: center;
  width: 80%;
  color: var(--white-frosted-title);

  height: 100%;
  border-radius: 2rem;
  background-color: transparent;
  box-shadow: none;
}

.upperButton:hover {
  background-color: var(--dark-blue-frosted-app-background);
  box-shadow: 0 0 1rem var(--button-first-shadow-color),
    0 1rem 3rem 0 var(--button-second-shadow-color);
}
