:root {
  --black-frosted-board-background: #29353c;
  --dark-blue-frosted-app-background: #44576d;
  --green-frosted-palette: #76ba96;
  --till-frosted-palette: #aac7d8;
  --light-til-frosted-palette: #dfebf6;
  --white-frosted-title: #e6e6e6;
  --date-in-toast-grey: #767b8d;
  --button-hover-first: #242a31;
  --button-hover-second: rgba(0, 0, 0, 0.19);
  --toast-background-gradient: linear-gradient(
    90deg,
    rgba(127, 163, 185, 1) 0%,
    rgba(170, 199, 216, 1) 100%
  );
  --button-container-background-color: rgb(187, 187, 187);

  --toast-shadow: #1e272d;
}

body {
  background-color: var(--dark-blue-frosted-app-background);
  text-align: center;
  font-size: 1.2rem;
}
* {
  font-family: 'Segoe UI', Arial, sans-serif;
  font-weight: bold;
  color: var(--white-frosted-title);
}

.searchBar {
  grid-area: search;
}

.app {
  display: grid;
  grid-gap: 0.7rem;
  grid-template-rows: repeat(7, 1fr);
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas:
    'search search search logInButton'
    'results toasts toasts criminals'
    'results toasts toasts criminals'
    'results toasts toasts criminals'
    'results toasts toasts criminals'
    'results toasts toasts personaNonGrata'
    'results toasts toasts personaNonGrata';
}

.logInButton {
  grid-area: logInButton;
  height: 2rem;
}
