.buttonsContainer {
  grid-area: logInButton;
  display: flex;
  flex-direction: row;
  align-items: left;
  justify-content: center;
  gap: 0.5rem;
}

.upperButton {
  border: 0;
  font-size: 1.5rem;
  cursor: pointer;
  margin-left: 5%;
  text-align: center;
  width: 70%;
  height: 100%;
  border-radius: 2rem;
  background-color: transparent;
  box-shadow: none;
}

.upperButton:hover {
  background-color: var(--dark-blue-frosted-app-background);
  box-shadow: 0rem 0.75rem 1rem var(--button-hover-first),
    0 1rem 3rem 0 var(--button-hover-second);
}
