.board {
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  gap: 5%;
  padding: 1%;
  background-color: var(--black-frosted-board-background);
  border-color: var(--black-frosted-board-background);
  align-items: center;
  overflow: auto;
}

.title {
  padding-top: 2%;
  height: 1rem;
  text-align: center;
}
