.board {
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  gap: 1.5rem;
  padding: 1%;
  padding-bottom: 7%;
  background-color: var(--black-frosted-board-background);
  border-color: var(--black-frosted-board-background);
  align-items: center;
}

.title {
  padding-top: 2%;
  height: 1rem;
  text-align: center;
}

.toastTitle {
  padding-top: 2%;
  height: 1rem;
  text-align: center;
  padding-right: 15rem;
  padding-left: 40%;
}
.titleButtonBox {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
