.box {
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  gap: 1.5rem;
  padding: 1%;
  padding-bottom: 7%;
  background-color: var(--black-frosted-board-background);
  border-color: var(--black-frosted-board-background);
  align-items: center;
}

.board {
  display: flex;
  flex-direction: row;
  width: 98%;
}

.title {
  padding-top: 1.25rem;
  height: 1rem;
  text-align: center;
}

.historyButton {
  display: flex;
  justify-content: flex-end;
}

.toastTitle {
  height: 1rem;
  text-align: center;
}
.titleButtonBox {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}
